.login{
    @apply bg-gray-700;
}
.login .header-content a{
    @apply text-gray-900;
    
}

.login .header-content a:hover{
    text-decoration: none;
    @apply text-gray-900;
}

.login p{
    @apply text-gray-100;
}

.login a{
    @apply text-blue-400 hover:text-white hover:underline;
}

.login-content{
    @apply flex flex-col justify-center py-60 items-center h-screen;
    padding: 20px;
}

.login-wrapper{
    @apply flex flex-col mx-auto p-6 rounded-md sm:p-10 bg-gray-900 text-gray-100;
    width: 100%;
    max-width: 600px;
    
}

.login-title{
    @apply mb-8 text-center text-gray-100;
}

.login-title .h1{
    @apply text-gray-100;
}





.login-input{
    @apply form-input w-full px-3 py-2 border rounded-md border-gray-700 bg-gray-900 text-gray-900
}