.list-content{
    @apply grid grid-cols-4 gap-4 py-8;
}

.list-wrapper{
    @apply mb-8;
}

.list-wrapper .h2{
    @apply text-gray-100 text-3xl font-semibold mt-0;
}
.list-wrapper .message .icon-wrapper scg{
    width: 20px; 
}
.item{
    @apply max-w-xs rounded-md shadow-md bg-gray-900;
}
.list-image{
    @apply object-cover object-center w-full rounded-t-md h-72 dark:bg-gray-500;
}
.list-info{
    @apply flex flex-col justify-between p-6 space-y-8;
}

.list-wrapper .type{
    @apply bg-sky-400 px-3 py-1 mt-0 rounded-md hover:underline text-gray-900;
    margin-top: 0!important;

}
.list-wrapper .state{
    @apply flex justify-between items-center pt-4 space-y-8 mt-0;
    margin-top: 0!important;
}

.price{
    @apply text-gray-100 text-xl font-semibold mt-0;
}

.list-tags{
    @apply flex flex-wrap pt-2 gap-2;
    margin-top: 0!important;
}
    

.tag{
    @apply bg-sky-400 px-3 py-1 rounded-md hover:underline text-gray-900;
}