body{
    @apply bg-gray-100;
}
.h1 {
    @apply text-4xl font-bold text-gray-700;
}
.h2 {
    @apply mt-8 text-3xl font-bold text-gray-700;
}

note{
    @apply  block mt-4 px-6 py-4 rounded border border-solid border-blue-500 bg-blue-100 text-blue-900 text-sm;

}

.content{
    @apply container mx-auto mb-16;
}

.title-wrapper{
    @apply flex items-center justify-center py-6;
}

body .btn-primary{
    @apply w-full px-8 py-3 font-semibold rounded-md bg-sky-400 text-gray-900 hover:bg-sky-600 transition ease-in-out;
}
.edit{
    @apply !bg-red-300;
}
body .btn-secondary {
    @apply w-full px-8 py-3 font-semibold rounded-md bg-sky-400 text-gray-900 hover:bg-sky-600 transition ease-in-out;
}
body .btn-clean{
    @apply flex justify-center items-center gap-2 text-sm px-4 py-1 bg-sky-100 border border-sky-600;
}

body .btn-clean:after{
    content:'';
    background-image: url(../images/delete.svg);
    background-size: cover;
    display: block;
    width: 15px;
    height: 15px;
}
.header-content {
    @apply bg-gradient-to-r from-cyan-500 to-gray-900 shadow-sm shadow-teal-600;
}

.header-wrapper {
    @apply flex flex-wrap justify-between items-center px-8 py-4;
}

.header-wrapper .actions-wrapper {
    @apply flex flex-wrap justify-center gap-4 py-4 md:py-0;
}

.header-wrapper .actions-wrapper .nav-wrapper{
  @apply flex flex-col flex-nowrap gap-2 items-center sm:flex-row sm:items-end;
}

.header-wrapper .actions-wrapper .nav-wrapper a{
    display: block;
    text-wrap: nowrap;
    text-align: center;
}

.header-wrapper .actions-wrapper .currency-wrapper {
    @apply flex justify-center;
}



